#v{
    margin: 20px;
}
.hero-image {
    background-image: url("a4.jpg"); /* The image used */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 30px;
  }

  #d{
      font-size: 20px;
      font-family: cursive;
      color:greenyellow;
  }

  #k{
      font-size: 20px;
      font-family: cursive;
      color:greenyellow;

  }
  .card-body{
      size: 20px;
  }

  .c:hover{
    color:goldenrod;
}
.t:hover{
    color:goldenrod;
}
.o:hover{
    color:goldenrod;}

    button[type="button"]{
        width: 150px;
        height: 50px;
        background-color: greenyellow;
        border-style: none;
        border-radius: 20px;
        cursor: pointer;
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        font-family: cursive;}

        button[ type="button"]:hover{
            background-color: black;
            color: green;}

            .container{
                margin-top: 20px;
            }